
- content_for(:title) do
  = t('.title')
- content_for(:description) do
  = t('.description')

.row
  .col-md-offset-2.col-md-8.info-document

    %h1 Terms & Conditions

    %p Welcome to www.Lingoloop.com hosted by Lingoloop, Inc., a California corporation (hereafter also referred to as “Lingoloop” “we” and “us”).  Please review the following terms and conditions concerning your use of and access to the Lingoloop website located at www.Lingoloop.com (and any present and future sub-domains), mobile websites and applications and any services offered therefrom (collectively referred to hereafter as, the “Website”).  By accessing, using, subscribing, purchasing or downloading any goods, materials or content from the Website, you agree to follow and be bound by the following terms and conditions (the “Terms & Conditions”) and any other terms and conditions embodied by other agreements you enter into with us.  If you do not agree with the Terms & Conditions, you may not use the Website.

    %p The Website provides a venue for individuals who navigate and/or access the Website and/or use the Services (defined herein) of the Website (hereafter, “You”, “Your”, “User” or “Users”) can purchase Tickets (defined herein) that can be redeemed for English conversation classes (the “Classes”) that are conducted via online video chat.

    %p
      The Terms & Conditions together with the Privacy Policy
      = link_to("(accessible via the following link)", privacy_policy_url)
      explain how we operate the Website, the ways that you are permitted to use the Website, tools available at the Website, and any support services available through use of the Website (collectively referred to hereafter as the “Service”).


    %h4 Privacy

    %p
      Any information (including personally identifiable information and payment account information) you submit to our Website is governed by the Privacy Policy
      = link_to("(accessible via the following link).", privacy_policy_url)
      The Privacy Policy encompasses any and all information you may provide to our Website either for purposes of creating an account, submitting an order or inquiry or to receive further information, updates and promotions about or related to the Website or Service.


    %h4 Membership Options

    %p There are a number of ways to participate in Classes through Lingoloop, such as various subscription plans, promotional plans, and non-subscription purchases. These options consist of different classes, services and features and may be subject to additional and differing conditions, prices, policies and limitations. We reserve the right to modify, terminate or otherwise amend our offered options and plans at any time in our discretion. From time to time we may permit non-subscribers to access certain Classes, content or features for a cost or at no cost. Lingoloop makes no commitment on the quantity, availability, type or frequency at which such Classes, content and features will be available to non-subscribers and may modify, discontinue, remove or suspend access at any time and for any reason in our sole discretion.


    %h4 Subscription Plans

    %p To enjoy full access to the Website and Classes, you need to sign up for a subscription. A subscription starts on the date that you sign up for a subscription and submit payment via a valid Payment Method (defined below). Unless we otherwise communicate a different time period to you at the time of sign up or otherwise (such as a multi-month commitment plan), each billing cycle is one month in length (a "Subscription Cycle"). Your Lingoloop subscription automatically renews each month, and we will automatically bill the monthly subscription fee to your Payment Method each month, until your subscription is cancelled or terminated. For example, if you purchase your Lingoloop subscription on April 5, your subscription will automatically renew on May 5 (as further explained in "Subscription Cycles," below). You must provide us with a current, valid, accepted method of payment ("Payment Method"). We may update the accepted methods from time to times.


    %h4 Non-Subscription Purchases

    %p Lingoloop may permit you to purchase certain products or Classes through the Website, in addition to your subscription or without having a subscription. You acknowledge and agree that these Terms apply to any such purchase you make, and you will be responsible to pay the applicable fees, which may change at any time.


    %h4 Use of Tickets

    %p Depending on the subscription plan (or “Package”) you choose and purchase, you will be allotted Tickets to be used solely to book Classes. You can choose how you use your credits across the various Classes available to you.

    %p Tickets expire at the end of two Subscription Cycles (the “Expiration Term”), meaning that any credits you don’t use during the applicable Subscription Cycle will roll only over into the next month, unless we expressly communicate otherwise. If your subscription is canceled or terminated your unused credits will expire according to the Expiration Term. There will be no refund or payment for any unused amount. When your cycle automatically renews for the next month, you’ll automatically receive your new allotment of Tickets. If you have any questions about how to use your credits, please contact us and we can help you.

    %p Tickets have no cash value or any other value outside of the Lingoloop platform and are not redeemable for cash. For the avoidance of doubt, the Tickets do not operate or serve as stored value facilities in any way. You may not transfer, trade, gift or otherwise exchange Lingoloop Tickets.


    %h4 Class Entry Fee

    %p A specific number of Tickets are redeemed by the customer for entry to a class (hereafter referred to as the “Class Entry Fee”). Lingoloop offers a one-on-one class with one student and one tutor (hereafter referred to as an “Individual Class”) and a group class with multiple students and one tutor (hereafter referred to as a “Group Class”). The Class Entry Fee for both Individual and Group Classes can be found on the Lingoloop website.  The Class Entry Fee is subject to change by Lingoloop at any time, without notice and without liability to you.


    %h4 Class Cancellation Policy

    %p If a booked class is cancelled more than 24 hours prior to the start time of the class, the redeemed tickets will be credited back to the User’s account.  Redeemed tickets will not be credited for cancellations made less than 24 hours before the start time of the class.


    %h4 Recurring Billing

    %p By initiating a Lingoloop subscription, you authorize us to charge you for your initial subscription period and a recurring monthly subscription fee at the then current rate, which may change from time to time. You acknowledge that the amount billed each month may vary for reasons that may include differing amounts due to promotional offers and/or changing or adding a plan, and you authorize us to charge your Payment Method for such varying amounts, which may be billed monthly in one or more charges. You also authorize us to charge you any other fees you may incur in connection with your use of the Site, such as any applicable sign-up fee, taxes and cancellation or late fees, as further explained below. Note that even if you do not use the subscription or access the Website and/or Classes, you will be responsible for subscription fees until you cancel your subscription, or it is otherwise terminated.


    %h4 Subscription Cycle

    %p When you sign up and purchase your Lingoloop subscription, your first Subscription Cycle will be billed immediately. Unless we expressly communicate otherwise, your subscription will automatically renew each month and you will be billed on the same date each month. We reserve the right to change the timing of our billing (and if we do, we’ll make adjustments to the amounts we charge, as appropriate). In the event your paid subscription began on a day not contained in a given month, we may bill your Payment Method on a day in the applicable month or such other day as we deem appropriate. For example, if you started your Lingoloop membership or became a paying member on January 31st, your next payment date is likely to be February 28th, and your Payment Method would be billed on that date. Your renewal date may change due to changes in your subscription.


    %h4 Refunds

    %p Generally, our fees (including the monthly fee for your membership and any other fees) are nonrefundable unless we specifically communicate otherwise at the time of purchase. However, we will provide a refund of unused Tickets to subscribers for their current prepaid subscription period only in the following circumstances: (i) if you are canceling your subscription and request a refund within 30 days of the date of your first payment for your subscription or (ii) if your subscription is cancelled prior to the end of a period for which you have incurred a charge, due to your, disability or death; provided, however, in each case we reserve the right to charge a fee to cover the cost of any class or other services or products you may have used or received prior to your cancellation and to ask for proof of such changed condition, to the extent permitted by law.


    %h4 Prices and Payments

    %p You can always find the current prices of Lingoloop Tickets and Packages on the purchase page of the Lingoloop website. The prices listed do not include any VAT or other applicable taxes; you will be responsible for paying any such taxes. You agree that we may include some or all of such taxes in your credit card charges.  You are responsible for all use of the Service accessed through your password. All prices related to the Service are subject to change by Lingoloop at any time, without notice and without liability to you. Lingoloop does not provide price protection or refunds in the event of a price drop or a promotional offering.


    %h4 Payment Methods

    %p If a payment is not successfully settled due to expiration, insufficient funds or otherwise, you nonetheless will remain responsible for any uncollected amounts and authorize us to continue billing the Payment Method or any other payment method you have provided, as it may be updated, including in the event you attempt to create a new account, reactivate the unsettled account or sign up for a new account. This may result in a change to your payment billing dates. If we cannot charge your account, we reserve the right, but are not obligated, to terminate your access to our website or any portion thereof.


    %h4 Cancellation of Subscription

    %p Unless we communicate otherwise, you may terminate your subscription at any time before your subscription renews by going into your account settings on the Lingoloop website and letting us know you would like to cancel. Unless we communicate otherwise, following any cancellation you will continue to have access to your remaining unused Tickets through the end of their Expiration Term, unless you cancel and receive a refund in which case your access will be terminated immediately.


    %h4 Website Content, Specifications and Accuracy of Information

    %p We attempt to ensure that information on this Website is complete, accurate and current. Despite our efforts, the information on this Website may be inaccurate, incomplete or out of date.  We make no representation as to the completeness, accuracy or currentness of any information on this Website.  All information shown, described or depicted on this Website is subject to change at any time without notice.

    %p Certain information may be provided by third party sources, and Lingoloop assumes no responsibility or liability for such information and makes no representations or warranties concerning the accuracy or quality of any underlying services or goods offered by third parties.

    %p All materials provided on the Website, including but not limited to Content, information, documents, products, logos, graphics, sounds, images, compilations, content and services (“Materials”), are provided either by Lingoloop or by respective third party authors, developers or vendors (“Third Party Providers”) and are the copyrighted works of Lingoloop and/or its Third Party Providers (or is permitted/licensed to be used by Third Party Providers), unless specifically provided otherwise.  Except as stated herein, none of the Materials may be modified, copied, printed, reproduced, distributed, republished, performed, downloaded, displayed, posted, transmitted and/or otherwise used in any form or by any means, including but not limited to electronic, mechanical, photocopying, recording, or other means, without the prior express written permission of Lingoloop and/or a Third Party Provider.  Also, you may not “mirror” or “archive” any Materials contained on the Website on any other server without Lingoloop’s prior express written permission.

    %p Except where expressly provided otherwise by Lingoloop, nothing on the Website shall be construed to confer any license or ownership right in or to the Materials, under any of Lingoloop’s intellectual property rights, whether by estoppel, implication, or otherwise.  You acknowledge sole responsibility for obtaining any such licenses.  Materials provided by Third Party Providers have not been independently reviewed, tested, certified, or authenticated in whole or in part by Lingoloop.  Lingoloop does not provide, sell, license, or lease any of the Materials other than those specifically identified as being provided by Lingoloop.

    %p You may not use Lingoloop Materials in any manner that could: (i) damage, disable, overburden, or impair the Website and Materials (or any server or networks connected thereto), or (ii) interfere with any third party’s use and/or enjoyment of the Website and Materials (or any server or networks connected thereto).

    %p Any unauthorized use of any Materials contained on the Website may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or communications regulations and statutes.  It is your obligation to comply with all applicable local, state, national and foreign laws, treaties, regulations and conventions in connection with your use of the Website, including without limitation those related to data privacy, international communications, and the exportation of technical or personal data from locations other than the location from which Lingoloop controls and operates the Website and services associated therewith.


    %h4 Rules and Restrictions of Use

    %p By using the Service you acknowledge that you are an adult as defined by the laws of the country or territory from which you are accessing the Service.

    %p The class chat rooms or other message services (“Communication Services”) are provided to you and other users as an opportunity to learn, practice your conversation skills and share ideas. Please be courteous and respectful to your fellow users. You also agree not to send any message or material, or engage in any behavior, that is unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable or that could constitute a criminal offense, give rise to civil liability, or otherwise violate any applicable law or regulation.

    %p You agree not to use the Communication Services for solicitations (commercial or non-commercial). Lingoloop Tutors are also prohibited from using the Communication Service or other means of communication for soliciting outside business from Lingoloop Users. You agree to report any Tutors who are engaging in such activity to Lingoloop.

    %p By using the Communication Services, you agree that Lingoloop shall not be responsible for any content in the Communication Services. Users understand that all chat communications are public and not private communications. Users are responsible for the contents of their own messages and other communications. Lingoloop has the right, but not the responsibility, to remove any messages and/or Users which it deems harmful, offensive, or otherwise in violation of the Terms of Use or any rules we may have in place at the time.


    %h4 Customer Account Access

    %p In order to utilize certain services offered by the Website, you may need to create a customer account.  Users will have to provide a user name, password, active email address, and other information, all subject to the Lingoloop Privacy Policy.  Any submission of false or materially inaccurate information by users in creating an account shall constitute a basis for Lingoloop to terminate the account and bar such users from making further access or use of the Website.  You agree to (a) create only one account; (b) provide accurate, truthful, current and complete information when creating your account; (c) maintain and promptly update your account information; (d) maintain the security of your account by not sharing your username or password with others and restricting access to your account and your computer; (e) promptly notify us if you discover or otherwise suspect any security breaches relating to the Website or your account; and (f) take responsibility for all activities that occur under your account and accept all risks of unauthorized access.

    %p By creating a customer account, you consent to receive electronic communications from Lingoloop either in the form of email sent to you at the email address listed on your account or by communications posted on the Website. You acknowledge and agree that any electronic communication in the form of such email or posting on the Website shall satisfy any legal requirement that such communication be in writing.

    %p Facebook Access. Users will be given the opportunity to log in to their Facebook account through the Website and link their Facebook friend lists to the Website.  Please see the Privacy Policy for details concerning our collection and use of account information in relation thereto.  All access to and use of another user’s Facebook accounts must be in conformity with the Facebook Terms of Use and Privacy Policy, and any violation of Facebook polices can lead to termination of a Website account.


    %h4 Security

    %p By creating an account with us, you acknowledge and agree that you are solely responsible for maintaining the confidentiality of your account information (including without limitation, username and password).  You must treat your username and password, and any other security details, as confidential, and not disclose it to any other person. You must also prevent unauthorized access to your account.  In addition, you must: (a) log off from your account at the end of each session on our Website and (b) notify us immediately of any unauthorized use of your username and password or any other breach of security.  You agree to accept responsibility for all activities that occur under your account.


    %h4 Restrictions on and Termination of Use of the Website/Service

    %p You or we may suspend or terminate your account or your use of this Website at any time, for any reason or for no reason. You are personally liable for any orders that you place or charges that you incur prior to termination. We reserve the right to change, suspend, or discontinue all or any aspect of this Website at any time without notice.

    %p We have the right to suspend or close any account with us and block your use of our Website if you have failed to comply with any part of the Terms & Conditions (as determined by us in our sole discretion).  You understand that your account is individual to you and/or your organization, and we may suspend or close your account if you attempt to transfer or use your account to/for another person or organization.  You are responsible for ensuring that any and all persons you authorize to use your account with us are aware of the Terms & Conditions, and that they fully comply with them. We reserve the right to refuse to provide access to the Website or to provide the Service, to any person or organization for any reason. It is your obligation to comply with all applicable state, federal and international laws.

    %p
      In consideration of being allowed to use our Website, you agree that the following actions
      shall constitute a
      material breach of these Terms & Conditions:

    %p
      Collecting information about our Website, users of our Website or our services without our
      written consent;

    %p
      Modifying, framing, rendering (or re-rendering), mirroring, truncating, injecting,
      filtering or changing any content
      or information contained in our Website, without our written consent.

    %p
      Using any deep-link, page-scrape, robot, crawl, index, spider, click spam, macro programs,
      Internet agent, or other
      automatic device, program, algorithm or methodology which does the same things, to use, access, copy, acquire
      information, generate impressions or clicks, input information, store information, search, generate searches, or
      monitor our Website or any portion thereof;

    %p
      Accessing or using our Website for competitive purposes;

    %p
      Disguising the origin of information transmitted to, from, or through the Website;

    %p
      Impersonating another person or representative of an organization;

    %p
      Distributing viruses or other harmful computer code;

    %p
      Allowing any other person or entity to impersonate you to access or use our Website;

    %p
      Using our Website or our services for any purpose in violation of local, state, national,
      international laws or
      regulations;

    %p
      Using our Website or our services in a way that is intended to harm, or a reasonable
      person would understand would
      likely result in harm, to the user or others, including sending any message or material, or engaging in any
      behavior, that is unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise
      objectionable; and

    %p
      Circumventing any measures implemented by us aimed at preventing violations of the Terms &
      Conditions.


    %h4 Links to Other Websites

    %p The Website may contain links to other websites which may be of interest to you. We are providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by us of the linked website and/or the content and materials found at the linked website, except as specifically stated otherwise by us. It is your responsibility to take precautions to ensure that whatever you select for your use is free of viruses or other items of an intrusive nature. We do not accept responsibility for those sites. Accessing any such links from our Website to gain access to other websites is at your own risk.


    %h4 Intellectual Property Rights

    %p Except where expressly stated otherwise, Lingoloop or its licensors, including without limitation, Lingoloop, Inc., is the owner or the licensee of all intellectual property rights located on the Website, in the materials published or otherwise made available on the Website and through the Service.  Those works, marks or inventions are protected by copyright, patent and trademark laws and treaties around the world and may not be modified, copied, printed, reproduced, distributed, republished, performed, downloaded, displayed, posted, transmitted and/or otherwise used in any form or by any means, including but not limited to electronic, mechanical, photocopying, recording, or other means, unless expressly permitted by us.  Except where expressly provided otherwise by us, nothing on our Website may be construed to confer any license or ownership right in or materials published or otherwise made available through our Website or our Services, whether by estoppel, implication, or otherwise.  All rights not granted to you in these terms are reserved.


    %h4 Copyright and Trademark Infringement Notice

    %p Lingoloop respects the intellectual property rights of others. All users of the Website or Services represent and warrant they shall comply with all applicable copyright and trademark laws. In the event we receive proper notification of claimed copyright or trademark infringement, the response to such notice may include removing or disabling access to material claimed to be the subject of infringing activity and possibly terminating your account and/or the right to use our Website and Services. If you believe any material on our Website constitutes an infringement of a copyright or trademark you own, you may file a notice of infringement to the contact identified below. A user who materially misrepresents that material is infringing will be liable for the costs incurred by us and our associated persons, including attorney fees. Accordingly, if you are uncertain whether you are or you represent the proper copyright holder or trademark holder, or if copyright and trademark laws protect the subject materials, you are strongly advised to consult a qualified attorney at your own expense. Any copyright or trademark infringement notification must be a written communication, transmitted by fax or regular mail, setting forth the following:

    %p a physical or electronic signature of the copyright or trademark owner or a person authorized to act on their behalf;

    %p detailed identification of the copyrighted work or trademark claimed to have been infringed;

    %p identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;

    %p your contact information, including your address, telephone number, and an email address;

    %p a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and

    %p a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.

    %p Copyright or Trademark Infringement Notifications should be addressed as follows: E-mail: contact@lingoloop.com

    %p
      Mailing Address:

    .info-paragraph
      %div Lingoloop, Inc.
      %div Attn: Copyright Agent
      %div 250 E. 1st Street, #806
      %div Los Angeles, CA 90012


    %h4 No Agency Relationship

    %p Except where provided for in a separate agreement with Lingoloop, no agency, partnership, joint venture, employer-employee or franchiser-franchisee relationship is intended or created by the Terms & Conditions. Without limiting the foregoing, except as expressly set forth herein, Lingoloop is not acting and does not act as an agent for any User or visitor of the Website.


    %h4 Disclaimer

    %p EXCEPT WHERE EXPRESSLY PROVIDED OTHERWISE BY US, THE WEBSITE AND SERVICE ARE PROVIDED “AS IS,” AND ARE FOR USE SOLELY AS CONTRACTED HEREIN. EXCEPT FOR THE EXPRESS WARRANTIES SET FORTH THEREIN, WE HEREBY DISCLAIM ALL EXPRESS OR IMPLIED REPRESENTATIONS, WARRANTIES, GUARANTIES, AND CONDITIONS WITH REGARD TO OUR SITE AND OUR SERVICES, INCLUDING BUT NOT LIMITED TO ANY IMPLIED REPRESENTATIONS, WARRANTIES, GUARANTIES, AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, AND QUALITY OF OUR PRODUCTS AND SERVICES EXCEPT TO THE EXTENT THAT SUCH DISCLAIMERS ARE HELD TO BE LEGALLY INVALID. WE MAKE NO REPRESENTATIONS, GUARANTIES OR WARRANTIES REGARDING THE RELIABILITY, AVAILABILITY, TIMELINESS, QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF THE WEBSITE OR SERVICE AND/OR MATERIALS ASSOCIATED WITH THE WEBSITE OR SERVICE, OR THE RESULTS YOU MAY OBTAIN BY ACCESSING OR USING THE WEBSITE, SERVICE AND/OR MATERIALS ASSOCIATED THEREWITH. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE DO NOT REPRESENT OR WARRANT THAT (A) THE OPERATION OR USE OF THE WEBSITE OR SERVICE WILL BE TIMELY, SECURE, UNINTERRUPTED OR ERROR-FREE; (B) THE QUALITY OF SERVICES, INFORMATION, OR OTHER MATERIAL YOU PURCHASE OR OBTAIN THROUGH THE WEBSITE WILL MEET YOUR REQUIREMENTS; OR (C) THE PRODUCTS, SERVICES, MATERIALS, OR THE SYSTEMS THAT MAKE THE WEBSITE OR SERVICE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT WE DO NOT CONTROL THE TRANSFER OF DATA OVER COMMUNICATIONS FACILITIES, INCLUDING THE INTERNET, AND THAT THE WEBSITE, SERVICE AND/OR MATERIALS ASSOCIATED THEREWITH MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF SUCH COMMUNICATIONS FACILITIES. WE ARE NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS.


    %h4 Limitation of Liability

    %p TO THE EXTENT ALLOWED BY LAW, IN NO EVENT SHALL THE AGGREGATE LIABILITY OF LINGOLOOP, OR ANY OF ITS OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, AGENTS, LICENSORS, AND SUPPLIERS, EXCEED $500.00. IN NO EVENT SHALL LINGOLOOP OR THE THIRD PARTY PROVIDERS, INCLUDING LINGOLOOP, INC., BE LIABLE TO ANYONE FOR ANY INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, OR FOR ANY DAMAGES TO YOUR COMPUTER, TELECOMMUNICATION EQUIPMENT, OR OTHER PROPERTY AND/OR FOR LOSS OF DATA, CONTENT, IMAGES, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE, ARISING OUT OF, OR IN ANY WAY CONNECTED WITH THESE TERMS & CONDITIONS, INCLUDING BUT NOT LIMITED TO THE ACCESSING OR USE OF, OR INABILITY TO USE, THE WEBSITE AND THE SERVICE THEREWITH INCLUDING BUT NOT LIMITED TO THE DOWNLOADING OF ANY MATERIALS, REGARDLESS OF CAUSE, WHETHER IN AN ACTION IN CONTRACT OR NEGLIGENCE OR OTHER TORTIOUS ACTION, EVEN IF THE PARTY FROM WHICH DAMAGES ARE BEING SOUGHT OR THE THIRD PARTY PROVIDER HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATION OF LIABILITY SET FORTH IN THIS SECTION SHALL NOT APPLY IN THE EVENT OF CUSTOMER’S BREACH, OR RELATED TO ITS INDEMNITY OBLIGATIONS. THIS PARAGRAPH SHALL NOT AFFECT THE RIGHTS LISTED BELOW IN THE SECTION TITLED “INDEMNIFICATION.”


    %h4 Indemnification

    %p YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS LINGOLOOP, ITS OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, AGENTS, LICENSORS, AND SUPPLIERS FROM AND AGAINST ALL LOSSES, EXPENSES, DAMAGES AND COSTS, INCLUDING, BUT NOT LIMITED TO ALL ATTORNEYS’ FEES CHARGED TO LINGOLOOP, RESULTING FROM ANY VIOLATION OF THE TERMS & CONDITIONS BY YOU OR ANY OTHER PERSON ACCESSING THE WEBSITE OR SERVICE ON YOUR BEHALF. Lingoloop shall have no indemnification obligation or other liability for any claim of infringement arising from (a) use of the Website and/or the goods, services or Materials associated with the Website other than in accordance with these Terms; (b) the combination of the Website and/or the goods, services or Materials associated with the Website with any other products, services, or materials; or (c) any third party products, services, or materials.


    %h4 Conflicts

    %p Shall a conflict or contradiction exist between these Terms & Conditions and any others which relate specifically to a particular section of the Website, the specific terms relevant to that section shall prevail.


    %h4 Severability

    %p Any provision of the Terms & Conditions found to be unenforceable will not void nor effect other provisions of this agreement.


    %h4 Governing Law & Exclusive Venue

    %p Any and all claims relating to or arising out of your use of the Website, including any services offered by or transactions consummated via the Website, shall be governed by the laws of the State of California and litigated in the County of Los Angeles in the State of California in the United States of America. Any disputes, actions, claims or causes of action arising out of or in connection with these Terms & Conditions or the Website shall be subject to the exclusive jurisdiction of the state and federal courts located in Los Angeles, California.


    %h4 Changes to the Terms & Conditions

    %p We reserve the right to change the Terms & Conditions at any time by posting an updated version to this web page to reflect those changes. Changes to the Terms & Conditions may arise for a variety of reasons, including without limitation, changes in our Services, market conditions affecting our business, technology or our business model, relevant laws and regulatory requirements, and our systems.

    %p You agree to periodically review the Terms & Conditions from time to time to take notice of any changes we make, as they are binding on you. Continued access or use of our Website shall be deemed conclusive evidence of your acceptance of any modified terms or conditions.


    %h4 Miscellaneous

    %p The Terms & Conditions (together with the Privacy Policy) represent the parties’ entire understanding relating to the use of the Website and supersedes any prior or contemporaneous, conflicting or additional, communications. We reserve the right to change these Terms & Conditions or policies relating to the Website at any time and from time to time, and such changes will be effective upon being posted herein. You should visit this page from time to time to review the then current Terms & Conditions because they are binding on you. Certain provisions of these Terms & Conditions may be superseded by expressly designated legal notices or terms located on particular pages of the Website, which may be posted from time to time. Your continued use of the Website after any such changes and/or postings shall constitute your consent to such changes. If any provision of these Terms & Conditions is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed to reflect the intentions of the invalid or unenforceable provision(s), with all other provisions remaining in full force and effect.

    %p You may not assign these Terms & Conditions without the prior written approval of Lingoloop. Any purported assignment in violation of this section shall be void. Lingoloop reserves the right to use third party providers in the provision of the Website and Service. In the event of any litigation of any controversy or dispute arising out of or in connection with these Terms & Conditions, its interpretation, its performance, or the like, the prevailing party shall be awarded reasonable attorneys’ fees and expenses, court costs, and reasonable costs for expert and other witnesses attributable to the prosecution or defense of that controversy or dispute. Any and all rights not expressly granted herein are reserved by Lingoloop.


    %h4 Contact Us

    %p Please feel free to contact us with any comments, questions or suggestions you might have regarding the Website. You may contact us at:

    .address
      %span Lingoloop, Inc.
      %span 250 E. 1st Street, #806
      %span Los Angeles, CA 90012
      %span contact@lingoloop.com

    %p.last-modified
      Terms & Conditions last modified on May 24, 2019.
